<div class="container-fluid d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="row shadow-lg bg-white rounded overflow-hidden w-75">
        <div class="col-md-6 p-0">
            <div class="position-relative h-100">
                <img src="https://shorturl.at/Xb3CJ" class="img-fluid h-100 w-100 object-fit-cover"
                    alt="Fitness Tracker">
                <div class="position-absolute top-50 start-50 translate-middle text-center">
                    <h2 class="text-white fw-bold fitness-heading m-0">Fitness Tracker</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4 d-flex align-items-center">
            <div class="card w-100 shadow-lg p-4 border-0">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <h3 class="mb-2 text-center">Login</h3>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" formControlName="email" class="custom-input"
                            [ngClass]="{'is-invalid':submitted && f.email.errors}">
                        <div class="invalid-feedback" *ngIf="(submitted || f.email.touched) && f.email.errors?.required">Email is required
                        </div>
                        <div class="invalid-feedback" *ngIf="(submitted || f.email.touched) && f.email.errors?.pattern">Enter a valid email
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" formControlName="password" class="custom-input"
                            [ngClass]="{'is-invalid':submitted && f.password.errors}">
                        <div class="invalid-feedback" *ngIf="(submitted || f.password.touched) && f.password.errors?.required">Password is
                            required
                        </div>
                        <div class="invalid-feedback" *ngIf="(submitted || f.password.touched) && f.password.errors?.pattern">Password must be
                            at
                            least 8 characters, include uppercase, lowercase, number & special character</div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="login-btn">Login</button>
                    </div>
                    <div *ngIf="loginError" class="alert alert-danger mt-3">{{loginError}}</div>
                    <div class="text-center mt-4">
                        <span>Don't have an account? </span>
                        <a routerLink="/signup" class="fw-bold">Signup</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>