<nav class="navbar navbar-expand-lg px-4 navbar-custom">
    <div class="container-fluid">
        <span class="navbar-brand text-white fw-bold">FitnessApp</span>
        <ul class="navbar-nav flex-row align-items-center gap-3">
            <span class="admin-pill me-2">user / User</span>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" routerLink="/home-page">Home</a>
            </li>
            <li class="nav-item position-relative workout-hover">
                <a class="nav-link text-white">Workout</a>
                <div class="workout-menu position-absolute bg-white shadow p-2 rounded">
                    <a href="#" routerLink="/userviewworkout" class="d-block text-dark text-decoration-none py-1 px-3 text-center">View Workout</a>
                    <a href="#" routerLink="/userappliedworkout/:id" class="d-block text-dark text-decoration-none py-1 px-3 text-center">Applied WorkoutRequest</a>
                </div>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger logout-btn" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</button>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p class="mb-4 fs-5">Are you sure you want to logout?</p>
          <button class="btn btn-success me-2" data-bs-dismiss="modal" routerLink="/login">Yes, Logout</button>
          <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
