<app-adminnav></app-adminnav>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal">
      <div class="modal-body text-center">Successfully Added!</div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn custom-ok-btn" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center align-items-center h-100 m-5">
    <div class="card p-2 shadow" style="width: 400px;max-height: 770px;overflow-y: hidden;">
      <h4 class="text-center mb-2 pb-2" style="border-bottom: 2px solid blue;">Create New Workout</h4>
  
      <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group m-2">
          <label>Workout Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control mt-2" formControlName="workoutName"  placeholder="Workout Name"/>
            <div *ngIf="admin.workoutName.touched && admin.workoutName.errors" class="text-danger">Workout Name is required</div>
        </div>
  
        <div class="form-group m-2">
          <label>Description <span class="text-danger">*</span></label>
          <input type="text"  class="form-control mt-2" formControlName="description" placeholder="Workout Description"/>
          <div *ngIf="admin.description.touched && admin.description.errors" class="text-danger">Description is required</div>
        </div>
  
        <div class="form-group m-2">
          <label>Difficulty Level <span class="text-danger">*</span></label>
          <input type="number" class="form-control mt-2" formControlName="difficultyLevel" min="1" max="10" placeholder="Difficulty Level" />
          <div *ngIf="admin.difficultyLevel.touched  && admin.difficultyLevel.errors" class="text-danger">
          <div *ngIf="admin.difficultyLevel.errors['required']">Difficulty Level is required</div>
          <div *ngIf="admin.difficultyLevel.errors['min'] || admin.difficultyLevel.errors['max']">Difficulty Level must be between 1 & 10</div>
          </div>
        </div>
  
        <div class="form-group m-2">
          <label>Target Area <span class="text-danger">*</span></label>
          <select class="form-control mt-2" name="targetArea" formControlName="targetArea">
            <option value="">Select Target Area</option>
            <option>Arms</option>
            <option>Legs</option>
            <option>Core</option>
            <option>Full Body</option>
          </select>
          <div *ngIf="admin.targetArea.touched && admin.targetArea.errors" class="text-danger">Target Area is required</div>
        </div>
  
        <div class="form-group m-2">
          <label>Days Per Week <span class="text-danger">*</span></label>
          <input type="number" class="form-control mt-2" formControlName="daysPerWeek" min="1" max="7" placeholder="Days Per Week"/>
          <div *ngIf="admin.daysPerWeek.touched && admin.daysPerWeek.errors" class="text-danger">
            <div *ngIf="admin.daysPerWeek.errors['required']">Days Per Week is required</div>
            <div *ngIf="admin.daysPerWeek.errors['invalidDaysPerWeek']">Days Per Week must be between 1 & 7</div>
          </div>
        </div>
  
        <div class="form-group m-2">
          <label>Workout Duration (Minutes) <span class="text-danger">*</span></label>
          <input type="number" class="form-control mt-2" formControlName="averageWorkoutDurationInMinutes" placeholder="Workout Duration in Minutes"/>
          <div *ngIf="admin.averageWorkoutDurationInMinutes.touched && admin.averageWorkoutDurationInMinutes.errors" class="text-danger">
            <div *ngIf="admin.averageWorkoutDurationInMinutes.errors['required']">Workout Duration is required</div>
            <div *ngIf="admin.averageWorkoutDurationInMinutes.errors['min'] || admin.averageWorkoutDurationInMinutes.errors['max']">Duration must be between 1 & 60</div>
          
          </div>
        </div>
  
        <div *ngIf="errorMessage" class="text-danger text-start mb-2">{{ errorMessage }}</div>
  
        <button class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
  