.custom-modal {
    border:none;
    box-shadow: none;
    width:300px;
    margin:auto;
  }
  
  .custom-header {
    background-color: #28a745; /* Bootstrap green */
    border-bottom: none;
    padding: 1rem;
  }
  
  .custom-ok-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
  }
  
  .custom-ok-btn:hover {
    background-color: #218838;
  }
  .custom-modal .modal-footer{
    border-top: none;
  }