.custom-modal {
  border:none;
  box-shadow: none;
  width:300px;
  margin:auto;
 }
 html,body{
  margin: 0;
  padding: 0;
  height: 100%;
 }
.validation-space {
  min-height: 20px;
}
.bg{
  background-image: url('https://tinyurl.com/454279kz');
  background-repeat: no-repeat;
  background-size: cover; /* Ensures it covers the entire area */
  background-position: center; /* Centers the image */
  min-height:100vh ;
  width: 100%;
  margin:0;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex: start;
}

.custom-header {
  background-color: #28a745; /* Bootstrap green */
  border-bottom: none;
  padding: 1rem;
}

.custom-ok-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 20px;
}

.custom-ok-btn:hover {
  background-color: #218838;
}
.custom-modal .modal-footer{
  border-top: none;
}